/* PC、スマホ共通スタイル */
body {
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial,
    sans-serif;
}

p {
  font-size: 15px;
}

#main-visual>img {
  width: 100%;
}

/*================
PC用のスタイル 
=================*/
@media screen and (min-width: 768px) {
  /* 横幅設定 */
  body {
    max-width: 1080px;
    min-width: 960px;
    margin: 0 auto 0 auto;
  }

  /* スマホ用メニューをPCで非表示にする */
  #menu-sp,
  #nav-sp {
    display: none;
  }

  /* ヘッダー */
  header {
    display: flex;
    justify-content: space-between;
  }
}

  /* ヘッダー */
  header {
    display: flex;
    justify-content: space-between;
  }

  /* ナビゲーションのレイアウト */
  #nav-pc {
    text-align: right;
    font-size: 14px;
    padding-top: 15px;
  }

  /* ナビゲーションのリンクの装飾設定 */
  #nav-pc>a {
    text-decoration: none;
    margin-left: 20px;
  }

  #nav-pc>a:link {
    color: #0d0d0d;
  }

  #nav-pc>a:visited {
    color: #0d0d0d;
  }

  #nav-pc>a:hover {
    color: #0d0d0d;
    text-decoration: underline;
  }

  #nav-pc>a:active {
    color: #0d0d0d;
  }
}

#sns-footer {
  display: flex;
  justify-content: space-between;
}

#sns-footer a {
  margin-right: 30px;
}

#copyright {
  color: #ffffff;
  margin: 0;
}

 /* mission.html用スタイル */
 /* ミッションのメインビジュアル */
 .mission-main-inner {
   background-image: url("images/mission/mission-main.png");
   background-repeat: no-repeat;
   background-position-y: center;
 }
 
 #mission-title {
   background-color: #2710d5;
   width: 368px;
   color: #ffffff;
   height: 496px;
   border-radius: 0 248px 248px 0;
   position: relative;
 }
 
 #mission-title h1 {
   position: absolute;
   top: 0;
   left: 100px;
   font-size: 80px;
   line-height: 1;
 }
 
 #mission-title h1 span {
   font-size: 26px;
 }
 
 #mission-title > p {
   position: absolute;
   top: 350px;
   left: 100px;
   font-size: 16px;
 }
 
/* 画面幅が767px以下のとき */
@media screen and (max-width: 767px) {
  /* スマートフォン用のスタイルを指定する */
   /* PC用ナビゲーション非表示 */
  #nav-pc {
    display: none;
  }
  
  body {
    min-width: 375px;
    margin: 0;
  }

  /* ハンバーガーメニュー */
  #menu-sp {
    float: right;
    padding: 0;
    display: block;
  }

  /* スマートフォン用ナビゲーション */
  #nav-sp {
    background-color: #ce933e;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
  }

  #nav-sp > ul {
    padding-left: 0;
  }

  #nav-sp li {
    list-style: none;
  }

  #close {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  #logo-sp {
    margin: 80px 0px 30px 20px;
  }

  #nav-sp a {
    display: block;
  }

  #nav-sp a:link {
    color: #ffffff;
  }

  #nav-sp a:visited {
    color: #ffffff;
  }

  #nav-sp a:hover {
    text-decoration: underline;
  }

  #nav-sp a:active {
    color: #ffffff;
  }
  
  #nav-sp .menu {
    text-decoration: none;
    display: block;
    margin: 0 20px 0 20px;
    height: 44px;
    font-size: 16px;
    background-image: url("images/arrow.png");
    background-repeat: no-repeat;
    background-position: right top;
}
}